{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "error",
    "no-console": "error",
    "react/prop-types": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }]
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "root": true,
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "project": "./gymReservationFE/tsconfig.json",
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}
